<div class="position-relative main-banner">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div>A new beginning. A clean start.</div>
  </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('assets/banner-background-1.jpg')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-1 pt-1 text-white distinction-shadow"
        >
          <h5 class="pt-2 mt-2 mb-1 aspect-title lh-1 fw-bold">
            Environmental friendly design
          </h5>
          <p class="mt-4">
            ATAG factories have an environmental certification according to ISO
            14001, which means that everything is done as environmentally
            friendly as possible. All parts of our appliances that weigh more
            than 50 grams are suitable for recycling.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('assets/banner-background-2.jpg')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-1 pt-1 text-white distinction-shadow"
        >
          <h5 class="pt-2 mt-2 mb-4 aspect-title lh-1 fw-bold">
            High Quality Products
          </h5>
          <p class="mt-4">
            High-quality products that will not only meet, but exceed our
            customers’ expectations for many years to come. All products are
            extensively tested before they leave the factory. No machine ever
            leaves the factory that has not passed all of our rigorous testing.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('assets/banner-background.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-1 pt-1 distinction-shadow">
          <h5 class="pt-2 mt-2 mb-4 aspect-title lh-1 fw-bold">
            Scandinavian Design
          </h5>
          <p class="mt-4">
            The basis is purity, simplicity and naturalness, themes that return
            in the design language and the choice of colors and materials. We
            strive for a soft, humanistic minimalism based on the principle that
            quiet is the new loud.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 mt-0 text-center experience-bg"
>
  <div class="col-md-5 p-lg-5 mx-auto my-5 w-100">
    <h1 class="display-4 fw-normal">Experience it</h1>
    <p class="lead fw-normal">Try the new 3D experience</p>
    <a class="btn btn-dark" routerLink="/interactive-viewer">Try now</a>
  </div>
</div>

<div class="video overflow-hidden m-md-3">
  <iframe
    src="https://www.youtube.com/embed/kERkoR6Vey8?controls=0&autoplay=1&mute=1&playsinline=1&playlist=kERkoR6Vey8&loop=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
